@import "tailwindcss";

@theme {
  --color-background: #efecec;
  --color-text-body-color: #171717;
  --color-outline-color: #c2bebe;
  --color-dark-accent: #333335;

  --font-family-georgia: "Georgia", serif;
  --font-family-inter: "Inter", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-body-color);
  font-family: var(--font-inter);
}
